{% load i18n %}

<!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div id="top-bar">
                <section id="sp-top-bar" class="top_bar_left">
                    <div class="container">
                        <div class="row">
                            <div id="sp-top1" class="col-sm-2 col-md-2">
                                <div class="sp-column ">
                                    <ul class="social-icons">
                                        <li><a target="_blank" href="https://www.facebook.com/H3ABioNet"><i
                                                class="fa fa-facebook"></i></a></li>
                                        <li><a target="_blank" href="https://twitter.com/H3ABioNet"><i
                                                class="fa fa-twitter"></i></a></li>
                                        <li><a target="_blank"
                                               href="https://www.youtube.com/channel/UCMYQE_GYsOKY6-j8z9N6Adw"><i
                                                class="fa fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id="sp-top3" class="col-sm-2 col-md-2">
                                <div class="sp-column ">
                                    <div class="sp-module ">
                                        <div class="sp-module-content">
                                            <div class="custom" style="display: inline-flex;">

                                                <div><a href="https://helpdesk.h3abionet.org" target="_blank"
                                                        rel="noopener noreferrer">
                                                    <button class="top_helpdesk">Helpdesk</button>
                                                </a></div>
                                                <div><a href="/communications/contact">
                                                    <button class="top_contact">Contact Us</button>
                                                </a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#helpdesk-nav-collapse">
                    <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
{#                <a class="navbar-brand" href="{% url 'helpdesk:home' %}">H3ABioNet {% trans 'Helpdesk' %}</a>#}
            </div>


            <div class="row" style="position: relative;">
                <div id="sp-logo" class="col-xs-9 col-sm-10 col-md-3">
                    <div class="sp-column ">
                        <img class=" sp-default-logo hidden-xs" src="https://www.h3abionet.org/images/logos/LOGO-HEADER.png" alt="H3ABioNet">
{#                        <img class=" sp-retina-logo hidden-xs" src="https://www.h3abionet.org/images/logos/LOGO-HEADER.png" alt="H3ABioNet" width="625" height="158">#}
{#                        <img class="sp-default-logo visible-xs-block" src="https://www.h3abionet.org/images/logos/Asset-1H3Abionet_logo_stack.png" alt="H3ABioNet"></a>#}
                        <div>
                            <img class="h3a-slogan" src="https://www.h3abionet.org/images/logos/h3a-slogan.png" alt="H3ABioNet">
                        </div>
                    </div>
                </div>
{#                <div id="sp-menu" class="col-xs-1 col-sm-1 col-md-8" style="position: static;">#}
{#                    <div class="sp-column ">#}
{#                        <div class="sp-megamenu-wrapper">#}
{#                            <a id="offcanvas-toggler" class="visible-sm visible-xs" href="#"><i class="fa fa-bars"></i></a>#}
{#                            <ul class="sp-megamenu-parent menu-fade hidden-sm hidden-xs">#}
{#                                <li class="sp-menu-item sp-has-child current-item active menu-justify">#}
{#                                    <div class="sp-dropdown sp-dropdown-main sp-dropdown-mega sp-menu-full container"#}
{#                                         style="">#}
{#                                        <div class="sp-dropdown-inner">#}
{#                                            <div class="row">#}
{#                                                <div class="col-sm-12"></div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li class="sp-menu-item sp-has-child about"><a href="/about"><i#}
{#                                        class="fa fa-address-book"></i> About</a>#}
{#                                    <div class="sp-dropdown sp-dropdown-main sp-menu-center"#}
{#                                         style="width: 1170px;left: -585px;">#}
{#                                        <div class="sp-dropdown-inner" style="background: #27405e;">#}
{#                                            <ul class="sp-dropdown-items">#}
{#                                                <li class="sp-menu-item"><a href="/about/organization">Organization</a>#}
{#                                                </li>#}
{#                                                <li class="sp-menu-item"><a href="/about/h3abionet-node-pis">Node#}
{#                                                    PIs</a></li>#}
{#                                                <li class="sp-menu-item"><a href="/about/consortium">Consortium</a></li>#}
{#                                                <li class="sp-menu-item"><a href="/about/sab">SAB</a></li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li class="sp-menu-item sp-has-child training"><a href="/training"><i#}
{#                                        class="fa fa-graduation-cap"></i> Training</a>#}
{#                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 1170px;">#}
{#                                        <div class="sp-dropdown-inner" style="background: #2196f3;">#}
{#                                            <ul class="sp-dropdown-items">#}
{#                                                <li class="sp-menu-item"><a href="/training/courses-and-events">H3ABioNet#}
{#                                                    Courses &amp; Events</a></li>#}
{#                                                <li class="sp-menu-item"><a href="/training/internships">Internships</a>#}
{#                                                </li>#}
{#                                                <li class="sp-menu-item"><a href="/training/bioinformaticseducation">Bioinformatics#}
{#                                                    Education</a></li>#}
{#                                                <li class="sp-menu-item"><a href="/training/online-training">Online#}
{#                                                    Training</a></li>#}
{#                                                <li class="sp-menu-item"></li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li class="sp-menu-item sp-has-child tools"><a href="/tools-and-services"><i#}
{#                                        class="fa fa-wrench"></i> Tools &amp; Services</a>#}
{#                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 1170px;">#}
{#                                        <div class="sp-dropdown-inner" style="background: #f44336;">#}
{#                                            <ul class="sp-dropdown-items">#}
{#                                                <li class="sp-menu-item"><a#}
{#                                                        href="/tools-and-services/bioinformatics-tools">Bioinformatics#}
{#                                                    Tools</a></li>#}
{#                                                <li class="sp-menu-item"><a href="/tools-and-services/workflows">Bioinformatics#}
{#                                                    Workflows</a></li>#}
{#                                                <li class="sp-menu-item"><a#}
{#                                                        href="/tools-and-services/technical-guidelines">Technical#}
{#                                                    Guidelines</a></li>#}
{#                                                <li class="sp-menu-item"><a#}
{#                                                        href="/tools-and-services/computing-infrastructure">Computing#}
{#                                                    Infrastructure</a></li>#}
{#                                                <li class="sp-menu-item"><a#}
{#                                                        href="/tools-and-services/node-accreaditation">Node#}
{#                                                    Accreditation</a></li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li class="sp-menu-item sp-has-child resources"><a href="/resources"><i#}
{#                                        class="fa fa-server"></i> Resources</a>#}
{#                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 1170px;">#}
{#                                        <div class="sp-dropdown-inner" style="background: #ffc107;">#}
{#                                            <ul class="sp-dropdown-items">#}
{#                                                <li class="sp-menu-item"><a href="/resources/h3africa-catalogue">H3Africa#}
{#                                                    Catalogue</a></li>#}
{#                                                <li class="sp-menu-item"><a href="/resources/h3africa-archive">H3Africa#}
{#                                                    Archive</a></li>#}
{#                                                <li class="sp-menu-item"><a href="/resources/h3africa-chip">H3Africa#}
{#                                                    Chip</a></li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li class="sp-menu-item sp-has-child datastds"><a href="/data-standards"><i#}
{#                                        class="fa fa-book"></i> Data &amp; Standards</a>#}
{#                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 1170px;">#}
{#                                        <div class="sp-dropdown-inner" style="background: #a864a8;">#}
{#                                            <ul class="sp-dropdown-items">#}
{#                                                <li class="sp-menu-item"><a href="/data-standards/datastds">Data#}
{#                                                    Standardisation</a></li>#}
{#                                                <li class="sp-menu-item"><a href="/data-standards/datamanagement">Data#}
{#                                                    Management</a></li>#}
{#                                                <li class="sp-menu-item"><a href="/data-standards/redcap">REDCap</a>#}
{#                                                </li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </li>#}
{#                                <li class="sp-menu-item sp-has-child comm"><a href="/communications"><i#}
{#                                        class="fa fa-rss-square"></i> Communications</a>#}
{#                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right" style="width: 1170px;">#}
{#                                        <div class="sp-dropdown-inner" style="background: #8bc34a;">#}
{#                                            <ul class="sp-dropdown-items">#}
{#                                                <li class="sp-menu-item"><a href="/communications/publication">Publications</a>#}
{#                                                </li>#}
{#                                                <li class="sp-menu-item"><a href="/communications/current-newsletter">Current#}
{#                                                    Newsletter</a></li>#}
{#                                                <li class="sp-menu-item"><a href="/communications/past-newsletters">Past#}
{#                                                    newsletters</a></li>#}
{#                                                <li class="sp-menu-item"><a href="/communications/monthly-events">Monthly#}
{#                                                    events</a></li>#}
{#                                                <li class="sp-menu-item"><a href="/communications/contact">Contact#}
{#                                                    Us</a></li>#}
{#                                            </ul>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <div id="sp-topsearch" class="col-xs-1 col-sm-1 col-md-1">
                    <div class="sp-column ">
                        <div class="sp-module ">
                            <div class="sp-module-content">
                                <div style="display:inline-block;" class="top-search-wrapper">

                                    <div class="icon-top-wrapper">
                                        <!--
                                        <i class="fa fa-search search-open-icon" aria-hidden="true"></i>
                                        <i class="fa fa-times search-close-icon" aria-hidden="true"></i>
                                        -->
                                        <i class="pe pe-7s-search search-open-icon" aria-hidden="true"></i>
                                        <i class="pe pe-7s-close search-close-icon" aria-hidden="true"></i>
                                    </div>

                                    <div class="row top-search-input-wrap" id="top-search-input-wrap">
                                        <div class="top-search-wrap">
                                            <div class="searchwrapper">
                                                <form action="/" method="post">
                                                    <div class="search">
                                                        <div class="top-search-wrapper">
                                                            <div class="sp_search_input"><input name="searchword"
                                                                                                maxlength="200"
                                                                                                class="mod-search-searchword inputbox"
                                                                                                type="text" size="100"
                                                                                                value="Search Here..."
                                                                                                onblur="if (this.value=='') this.value='Search Here...';"
                                                                                                onfocus="if (this.value=='Search Here...') this.value='';">
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="task" value="search">
                                                        <input type="hidden" name="option" value="com_search">
                                                        <input type="hidden" name="Itemid" value="467">
                                                    </div>
                                                </form>
                                            </div> <!-- /.searchwrapper -->
                                        </div> <!-- /.col-sm-6 -->
                                    </div> <!-- /.row -->
                                </div> <!-- /.top-search-wrapper -->    </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="helpdesk-nav-collapse">
            {% if helpdesk_settings.HELPDESK_NAVIGATION_ENABLED and user.is_authenticated or user.is_staff %}
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href='{% url 'helpdesk:dashboard' %}'><i class="fa fa-dashboard fa-fw"></i> <span class="nav-text">{% trans "Dashboard" %}</span></a>
                </li>
                <li>
                    <a href='{% url 'helpdesk:list' %}'><i class="fa fa-tasks fa-fw"></i> <span class="nav-text">{% trans "Tickets" %}</span></a>
                </li>
                <li>
                    <a href='{% url 'helpdesk:submit' %}'><i class="fa fa-plus-circle fa-fw"></i> <span class="nav-text">{% trans "New Ticket" %}</span></a>
                </li>
                <li>
                    <a href='{% url 'helpdesk:report_index' %}'><i class="fa fa-bar-chart-o fa-fw"></i> <span class="nav-text"> {% trans "Stats" %}</span></a>
                </li>
                {% if helpdesk_settings.HELPDESK_KB_ENABLED %}
                <li>
                    <a href='{% url 'helpdesk:kb_index' %}'><i class="fa fa-database fa-fw"></i> <span class="nav-text">{% trans "Knowledgebase" %}</span></a>
                </li>

                {% endif %}
                {% if user_saved_queries_ %}
                <li class="headerlink dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-filter fa-fw"></i> <span class="nav-text">{% trans "Saved Query" %} <b class="caret"></b></span></a>
                    <ul class="dropdown-menu">
                        {% for q in user_saved_queries_ %}
                            <li><a href="{% url 'helpdesk:list' %}?saved_query={{ q.id }}">{{ q.title }}
                                {% if q.shared %}
                                    (Shared{% ifnotequal user q.user %} by {{ q.user.get_username }}{% endifnotequal %})
                                {% endif %}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endif %}
                {% if not query %}
                <li>
                    <form class="navbar-form navbar-top" id='searchform' method='get' action="{% url 'helpdesk:list' %}">
                        <div class="input-group custom-search-form">
                            <input type='text' name='q' size='15' class='input form-control' placeholder='{% trans "Search..." %}' id='search_query' title='{% trans "Enter a keyword, or a ticket number to jump straight to that ticket." %}'/>
                            <input type='hidden' name='status' value='1' /><input type='hidden' name='status' value='2' /><input type='hidden' name='status' value='3' /><input type='hidden' name='search_type' value='header' />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i> {% trans 'Go' %}
                                </button>
                            </span>
                        </div>
                    {% csrf_token %}
                    </form>
                    <!-- /input-group -->
                </li>
                {% endif %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> {{ user.get_full_name|default:user.get_username }} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{% url 'helpdesk:user_settings' %}"><i class="fa fa-gear fa-fw"></i> {% trans "User Settings" %}</a>
                        </li>
                        <li><a href='{% url 'helpdesk:rss_index' %}'><i class="fa fa-rss-square fa-fw"></i> {% trans "RSS Feeds" %}</a></li>
                        {% if helpdesk_settings.HELPDESK_SHOW_CHANGE_PASSWORD and user.has_usable_password %}
                        <li><a href="{% url 'auth_password_change' %}"><i class="fa fa-user-secret fa-fw"></i> {% trans "Change password" %}</a></li>
                        {% endif %}
                        <li class="divider"></li>
                        {% if user.is_superuser %}
                        <li><a href='{% url 'helpdesk:system_settings' %}'><i class="fa fa-gears fa-fw"></i> {% trans "System Settings" %}</a></li>
                        <li class="divider"></li>
                        {% endif %}
                        <li><a href="{% url 'helpdesk:logout' %}"><i class="fa fa-sign-out fa-fw"></i> {% trans "Logout" %}</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            {% else %}
                {# Public menu #}
                <ul id="dropdown" class="nav navbar-nav">
                    {% if helpdesk_settings.HELPDESK_ALLOW_NON_STAFF_TICKET_UPDATE %}
                        <li><a href='{% url 'helpdesk:dashboard' %}'>{% trans "Dashboard" %}</a></li>
                        <li><a href='{% url 'helpdesk:submit' %}'>{% trans "Submit a Ticket" %} </a></li>
                    {% else %}
                        {% if helpdesk_settings.HELPDESK_SUBMIT_A_TICKET_PUBLIC %}
                            <li><a href='{% url 'helpdesk:submit' %}'>{% trans "Submit a Ticket" %} </a></li>
                        {% endif %}
                    {% endif %}
                    {% if helpdesk_settings.HELPDESK_KB_ENABLED %}<li><a href='{% url 'helpdesk:kb_index' %}'>{% trans "Knowledgebase" %}</a></li>{% endif %}
                    {% if not request.path == '/helpdesk/login/' or user.is_authenticated %}
                        <li>{% if user.is_authenticated %}<a href='{% url 'helpdesk:logout' %}'>{% trans "Logout" %}</a>{% else %}<a href='{% url 'helpdesk:login' %}?next={% if next %}{{ next|escape }}{% else %}{% url 'helpdesk:home' %}{% endif %}'>{% trans "Log In" %}</a>{% endif %}</li>
                    {% endif %}
                </ul>
            {% endif %}
            </div>
        </nav>

